@import '../styles.scss';


.content-header {
    height: auto;
}

.content-page {
    height: auto;
    background-color: $colorBackgroundSearch;
    padding: 25px 50px;
    @include small() {
        padding: 0;
    }
    @include medium() {
        padding: 0;
    }
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

}