<div class="content-component">
    <div class="content-search">
        <input
            id="searchInput" 
            (blur)='searchProduct()' 
            [(ngModel)]="valueSearch"
            />
    </div>
    <div class="content-table">
        <app-table [items]="dataProduct" pageSize='8' currentPage="1">
            <app-column value="logo" header="Logo">
                <ng-template #tableBodyTemplate let-column let-row="row">
                    <img src="../../../assets/img/assets-1.png" alt="">
                </ng-template>
            </app-column>
            <app-column value="name" header="Nombre de producto"></app-column>
            <app-column value="description" header="descripcion"> </app-column>
            <app-column value="date_release" header="Fecha de liberacion"></app-column>
            <app-column value="date_revision" header="Fecha de restauracion"></app-column>
        </app-table>
    </div>
</div>