<div class="flex-row">
    <div class="col-2">
        <div class="form-controls">
            <input id="filterCharacters" name="filterCharacters" placeholder="Search..." [(ngModel)]="filterCharacters"
                type="text" (ngModelChange)="applyFilter()" />
        </div>
    </div>
    <div class="col-2 buton-add">
        <button class="primary-button" style="margin: 0;" (click)="actionBtn('add')">
            Agregar
        </button>
    </div>
</div>
<section class="table-container">
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columns">{{ column.title }}</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of paginatedItems">
                <td>
                    <div class="container-img">
                        <img src="assets/img/perfil.png" class="img-fluid height" alt="" />
                    </div>
                </td>
                <td>
                    {{ row.name }}
                </td>
                <td>
                    {{ row.description }}
                </td>
                <td>
                    {{ row.date_release }}
                </td>
                <td>
                    {{ row.date_revision }}
                </td>
                <td class="actions-cell">
                    <div class="menu-container">
                        <button class="menu-button">⋮</button>
                        <div class="menu-options">
                            <button (click)="actionBtn('edit', row)">✏️</button>
                            <button (click)="actionBtn('delete', row)">🗑️</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="empty-data" *ngIf="dataRow.length === 0">No existen registros</div>

    <div *ngIf="dataRow.length > 0" class="pagination-container">
        <!-- Paginador -->
        <div class="paginator">
            <button (click)="previousPage()" class="primary-button" [disabled]="currentPage === 1">
                ◄
            </button>
            <span>Página {{ currentPage }} de {{ totalPages }}</span>
            <button (click)="nextPage()" class="primary-button" [disabled]="currentPage === totalPages">
                ►
            </button>
        </div>

        <div class="items-per-page">
            <label for="itemsPerPage">Mostrar:</label>
            <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
                <option *ngFor="let option of itemsPerPageOptions" [value]="option">
                    {{ option }}
                </option>
            </select>
        </div>
    </div>
</section>