@import '../../../styles.scss';


table {
    width: 100%;
    border-collapse: collapse;
    color: $colorWhiteGeneral;
}

th {//encabezados de la tabla
    text-align: initial;
    padding: 8px;
    color: #747679;
}

td {
    text-align: initial;
    padding: 8px;
    color:gray;
}

thead {
    background: #F8FAFC;
    height: 60px;
}

tbody{
    background: white;
    height: 50px;
}

.description-table {
    margin: 20px;
}

.description-table-hide {
    display: none;
}