<section class="registry">

  <div class="title">
    <h1>Formulario de Registro - {{ idAccount ? 'Editar' : 'Nuevo' }} </h1>
  </div>
  <div class="body-form">
    <form [formGroup]="formAccounts">
      <div class="row-form">
        <div class="itemForm">
          <div class="form-controls">
            <label class="form-label" for="">ID</label>
            <input
              id="id"
              name="id"
              formControlName="id"
              type="text">

            <div *ngIf="formAccounts.controls['id'].errors && formAccounts.controls['id'].touched" class="error-field">
              ID no válido!
            </div>

            <div *ngIf="existAccount && formAccounts.controls['id'].touched" class="error-field">
              La cuenta ya existe!
            </div>
          </div>
        </div>
        <div class="itemForm">
          <div class="form-controls">
            <label class="form-label" for="">Nombre</label>
            <input
              id="name"
              formControlName="name"
              name="name"
              minlength="6"
              maxlength="100"
              type="text">

            <div *ngIf="formAccounts.controls['name'].hasError('required') && formAccounts.controls['name'].touched"
              class="error-field">
              El campo es requerido
            </div>

            <div *ngIf="formAccounts.controls['name'].hasError('minlength') && formAccounts.controls['name'].touched"
              class="error-field">
              El campo no cumple con la longitud
            </div>
          </div>
        </div>
      </div>

      <div class="row-form">
        <div class="itemForm">
          <div class="form-controls">
            <label class="form-label" for="">Descripción</label>
            <input
              id="description"
              name="description"
              formControlName="description"
              minlength="10"
              maxlength="200"
              type="text">

            <div *ngIf="formAccounts.controls['description'].hasError('required') && formAccounts.controls['description'].touched"
              class="error-field">
              El campo es requerido
            </div>

            <div *ngIf="formAccounts.controls['description'].hasError('minlength') && formAccounts.controls['description'].touched"
              class="error-field">
              El campo no cumple con la longitud
            </div>
          </div>
        </div>
        <div class="itemForm">
          <div class="form-controls">
            <label class="form-label" for="">Logo</label>
            <input id="logo" formControlName="logo" type="text">

            <div *ngIf="formAccounts.controls['logo'].errors && formAccounts.controls['logo'].touched"
              class="error-field">
              El campo es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="row-form">
        <div class="itemForm">
          <div class="form-controls">
            <label class="form-label" for="">Fecha de Liberación</label>
            <input id="date_release" name="date_release" formControlName="date_release" type="text">

            <div *ngIf="formAccounts.controls['date_release'].errors && formAccounts.controls['date_release'].touched"
              class="error-field">
              El campo es requerido
            </div>
          </div>
        </div>
        <div class="itemForm">
          <div class="form-controls">
            <label class="form-label" for="">Fecha de Reestructuración</label>
            <input id="date_revision" formControlName="date_revision" type="text">

          </div>
        </div>
      </div>

      <div class="action-button">
        <button class="secondary-button" (click)="backUrl()">Regresar</button>
        <button
          *ngIf="idAccount; else elseDiv"
          class="primary-button"
          [disabled]="formAccounts.status === 'INVALID'"
          (click)="saveRegistry()"
        >Editar</button>
        <ng-template #elseDiv>
          <button
          class="primary-button"
          [disabled]="formAccounts.status === 'INVALID' || existAccount"
          (click)="saveRegistry()"
        >Guardar</button>
        </ng-template>
      </div>
    </form>

  </div>

</section>

<app-toast></app-toast>