
@import '../../../../styles.scss';


.content-component{
    background-color: $colorWhiteGeneral;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.content-header{
  display: inline-flex;
}

img{
  width: 45px;
}

.text{
  color: $colorTitleBlue;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}